<app-navbar></app-navbar>
<div class="tamano">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Pedido</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div class="principales">
          <mat-form-field>
            <mat-label>Nº pedido</mat-label>
            <input matInput formControlName="numeroPedido">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Fecha del pedido</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <hr>
        <mat-form-field>
          <mat-label>Catidad</mat-label>
          <input matInput formControlName="cantidad">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descuento</mat-label>
          <input matInput formControlName="descuento">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ref producto</mat-label>
          <input matInput formControlName="refProducto">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Titulo del producto</mat-label>
          <input matInput formControlName="tituloProducto">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Precio unitario</mat-label>
          <input matInput formControlName="precioUnitario">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="cliente">
              <mat-option *ngFor="let item of clientes" value="{{item._id}}">
                {{item.nombre}}
                {{item.apellido}}
              </mat-option>
          </mat-select>
      </mat-form-field>





      </form>
    </mat-card-content>
    <mat-card-footer>
      <p>
        <button class="boton" mat-raised-button color="primary" (click)="guardar()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-raised-button style="background-color: #e15639;" routerLink="/pedidos">
          <mat-icon>cancell</mat-icon>
        </button>
      </p>
    </mat-card-footer>
  </mat-card>
</div>